In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\rishabh.gupta\\Desktop\\Project'

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'Classification Random Forest .ipynb',
 'test.csv',
 'train.csv']

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         30725 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education.num     32561 non-null int64
marital.status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.loss      32561 non-null int64
hours.per.week    32561 non-null int64
native.country    31978 non-null object
target            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
train.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [8]:
print("train",train.shape)
print("test",test.shape)

train (32561, 15)
test (16281, 15)

In [9]:
print("train", train.head())

train    age          workclass  fnlwgt   education  education.num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital.status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital.gain  capital.loss  hours.per.week  native.country  target
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K

In [10]:
print("test",test.head())

test    age   workclass  fnlwgt      education  education.num       marital.status  \
0   25     Private  226802           11th              7        Never-married
1   38     Private   89814        HS-grad              9   Married-civ-spouse
2   28   Local-gov  336951     Assoc-acdm             12   Married-civ-spouse
3   44     Private  160323   Some-college             10   Married-civ-spouse
4   18         NaN  103497   Some-college             10        Never-married

           occupation relationship    race      sex  capital.gain  \
0   Machine-op-inspct    Own-child   Black     Male             0
1     Farming-fishing      Husband   White     Male             0
2     Protective-serv      Husband   White     Male             0
3   Machine-op-inspct      Husband   Black     Male          7688
4                 NaN    Own-child   White   Female             0

   capital.loss  hours.per.week  native.country   target
0             0              40   United-States   <=50K.
1             0              50   United-States   <=50K.
2             0              40   United-States    >50K.
3             0              40   United-States    >50K.
4             0              30   United-States   <=50K.

In [11]:
print("train", train.tail())

train        age      workclass  fnlwgt    education  education.num  \
32556   27        Private  257302   Assoc-acdm             12
32557   40        Private  154374      HS-grad              9
32558   58        Private  151910      HS-grad              9
32559   22        Private  201490      HS-grad              9
32560   52   Self-emp-inc  287927      HS-grad              9

            marital.status          occupation relationship    race      sex  \
32556   Married-civ-spouse        Tech-support         Wife   White   Female
32557   Married-civ-spouse   Machine-op-inspct      Husband   White     Male
32558              Widowed        Adm-clerical    Unmarried   White   Female
32559        Never-married        Adm-clerical    Own-child   White     Male
32560   Married-civ-spouse     Exec-managerial         Wife   White   Female

       capital.gain  capital.loss  hours.per.week  native.country  target
32556             0             0              38   United-States   <=50K
32557             0             0              40   United-States    >50K
32558             0             0              40   United-States   <=50K
32559             0             0              20   United-States   <=50K
32560         15024             0              40   United-States    >50K

In [12]:
print("test",test.tail())

test        age      workclass  fnlwgt   education  education.num  \
16276   39        Private  215419   Bachelors             13
16277   64            NaN  321403     HS-grad              9
16278   38        Private  374983   Bachelors             13
16279   44        Private   83891   Bachelors             13
16280   35   Self-emp-inc  182148   Bachelors             13

            marital.status        occupation     relationship  \
16276             Divorced    Prof-specialty    Not-in-family
16277              Widowed               NaN   Other-relative
16278   Married-civ-spouse    Prof-specialty          Husband
16279             Divorced      Adm-clerical        Own-child
16280   Married-civ-spouse   Exec-managerial          Husband

                      race      sex  capital.gain  capital.loss  \
16276                White   Female             0             0
16277                Black     Male             0             0
16278                White     Male             0             0
16279   Asian-Pac-Islander     Male          5455             0
16280                White     Male             0             0

       hours.per.week  native.country   target
16276              36   United-States   <=50K.
16277              40   United-States   <=50K.
16278              50   United-States   <=50K.
16279              40   United-States   <=50K.
16280              60   United-States    >50K.

In [13]:
# Missing Value

In [14]:
Train_Missing = train.shape[0] - train.dropna().shape[0]

In [15]:
Train_Missing

2399

In [16]:
train.shape[0]

32561

In [17]:
#Drop the rows where at least one element is missing.
train.dropna().shape[0]

30162

In [18]:
#Drop the rows where at least one element is missing.
train.dropna()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
30,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32526,32,Private,211349,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
32527,22,Private,203715,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
32528,31,Private,292592,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,<=50K
32529,29,Private,125976,HS-grad,9,Separated,Sales,Unmarried,White,Female,0,0,35,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [19]:
Test_Missing = test.shape[0]- test.dropna().shape[0]

In [20]:
Test_Missing

1221

In [21]:
test.shape

(16281, 15)

In [22]:
test.shape[0]

16281

In [23]:
#Which column has mssing value 
train.isnull()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
32532,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32533,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32534,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32535,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32536,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32537,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32538,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32539,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
32540,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32541,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
32542,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
32543,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32544,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32545,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32546,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32547,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32548,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32549,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32550,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32551,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32552,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32553,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32554,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32555,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32556,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32557,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32558,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32559,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32560,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [24]:
#Which column has mssing value 
train.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
target               0
dtype: int64

In [25]:
#Unique variable 
UniqueVariable = train.select_dtypes(include=['O'])
print(UniqueVariable)

               workclass      education          marital.status  \
0              State-gov      Bachelors           Never-married
1       Self-emp-not-inc      Bachelors      Married-civ-spouse
2                Private        HS-grad                Divorced
3                Private           11th      Married-civ-spouse
4                Private      Bachelors      Married-civ-spouse
5                Private        Masters      Married-civ-spouse
6                Private            9th   Married-spouse-absent
7       Self-emp-not-inc        HS-grad      Married-civ-spouse
8                Private        Masters           Never-married
9                Private      Bachelors      Married-civ-spouse
10               Private   Some-college      Married-civ-spouse
11             State-gov      Bachelors      Married-civ-spouse
12               Private      Bachelors           Never-married
13               Private     Assoc-acdm           Never-married
14               Private      Assoc-voc      Married-civ-spouse
15               Private        7th-8th      Married-civ-spouse
16      Self-emp-not-inc        HS-grad           Never-married
17               Private        HS-grad           Never-married
18               Private           11th      Married-civ-spouse
19      Self-emp-not-inc        Masters                Divorced
20               Private      Doctorate      Married-civ-spouse
21               Private        HS-grad               Separated
22           Federal-gov            9th      Married-civ-spouse
23               Private           11th      Married-civ-spouse
24               Private        HS-grad                Divorced
25             Local-gov      Bachelors      Married-civ-spouse
26               Private        HS-grad           Never-married
27                   NaN   Some-college      Married-civ-spouse
28               Private        HS-grad                Divorced
29               Private        HS-grad      Married-civ-spouse
...                  ...            ...                     ...
32531                NaN      Bachelors           Never-married
32532            Private      Doctorate      Married-civ-spouse
32533            Private      Bachelors      Married-civ-spouse
32534            Private   Some-college                Divorced
32535            Private           12th           Never-married
32536            Private      Bachelors           Never-married
32537            Private        HS-grad           Never-married
32538            Private      Bachelors                Divorced
32539                NaN      Doctorate      Married-civ-spouse
32540          State-gov        HS-grad               Separated
32541                NaN        HS-grad               Separated
32542                NaN        HS-grad      Married-civ-spouse
32543          Local-gov     Assoc-acdm                Divorced
32544            Private        Masters                Divorced
32545          Local-gov     Assoc-acdm      Married-civ-spouse
32546            Private     Assoc-acdm                Divorced
32547            Private        HS-grad      Married-civ-spouse
32548   Self-emp-not-inc    Prof-school           Never-married
32549          State-gov   Some-college                Divorced
32550   Self-emp-not-inc   Some-college      Married-civ-spouse
32551            Private           10th      Married-civ-spouse
32552            Private      Assoc-voc      Married-civ-spouse
32553            Private        Masters           Never-married
32554            Private        Masters      Married-civ-spouse
32555            Private   Some-college           Never-married
32556            Private     Assoc-acdm      Married-civ-spouse
32557            Private        HS-grad      Married-civ-spouse
32558            Private        HS-grad                 Widowed
32559            Private        HS-grad           Never-married
32560       Self-emp-inc        HS-grad      Married-civ-spouse

               occupation     relationship                 race      sex  \
0            Adm-clerical    Not-in-family                White     Male
1         Exec-managerial          Husband                White     Male
2       Handlers-cleaners    Not-in-family                White     Male
3       Handlers-cleaners          Husband                Black     Male
4          Prof-specialty             Wife                Black   Female
5         Exec-managerial             Wife                White   Female
6           Other-service    Not-in-family                Black   Female
7         Exec-managerial          Husband                White     Male
8          Prof-specialty    Not-in-family                White   Female
9         Exec-managerial          Husband                White     Male
10        Exec-managerial          Husband                Black     Male
11         Prof-specialty          Husband   Asian-Pac-Islander     Male
12           Adm-clerical        Own-child                White   Female
13                  Sales    Not-in-family                Black     Male
14           Craft-repair          Husband   Asian-Pac-Islander     Male
15       Transport-moving          Husband   Amer-Indian-Eskimo     Male
16        Farming-fishing        Own-child                White     Male
17      Machine-op-inspct        Unmarried                White     Male
18                  Sales          Husband                White     Male
19        Exec-managerial        Unmarried                White   Female
20         Prof-specialty          Husband                White     Male
21          Other-service        Unmarried                Black   Female
22        Farming-fishing          Husband                Black     Male
23       Transport-moving          Husband                White     Male
24           Tech-support        Unmarried                White   Female
25           Tech-support          Husband                White     Male
26           Craft-repair        Own-child                White     Male
27                    NaN          Husband   Asian-Pac-Islander     Male
28        Exec-managerial    Not-in-family                White     Male
29           Craft-repair          Husband                White     Male
...                   ...              ...                  ...      ...
32531                 NaN    Not-in-family   Asian-Pac-Islander   Female
32532      Prof-specialty          Husband                White     Male
32533     Exec-managerial          Husband   Asian-Pac-Islander     Male
32534        Adm-clerical        Unmarried                White   Female
32535     Protective-serv        Own-child                Black     Male
32536     Exec-managerial    Not-in-family                White   Female
32537        Craft-repair    Not-in-family                Black     Male
32538      Prof-specialty        Unmarried                Black   Female
32539                 NaN          Husband                White     Male
32540        Adm-clerical        Own-child                White   Female
32541                 NaN    Not-in-family                Black   Female
32542                 NaN          Husband                White     Male
32543      Prof-specialty        Unmarried                White   Female
32544       Other-service    Not-in-family                Other   Female
32545        Adm-clerical             Wife                White   Female
32546        Tech-support    Not-in-family                White   Female
32547   Machine-op-inspct          Husband                White     Male
32548      Prof-specialty    Not-in-family                White     Male
32549        Adm-clerical   Other-relative                White   Female
32550        Craft-repair          Husband                White     Male
32551   Handlers-cleaners          Husband   Amer-Indian-Eskimo     Male
32552               Sales          Husband                White     Male
32553        Tech-support    Not-in-family   Asian-Pac-Islander     Male
32554     Exec-managerial          Husband                White     Male
32555     Protective-serv    Not-in-family                White     Male
32556        Tech-support             Wife                White   Female
32557   Machine-op-inspct          Husband                White     Male
32558        Adm-clerical        Unmarried                White   Female
32559        Adm-clerical        Own-child                White     Male
32560     Exec-managerial             Wife                White   Female

       native.country  target
0       United-States   <=50K
1       United-States   <=50K
2       United-States   <=50K
3       United-States   <=50K
4                Cuba   <=50K
5       United-States   <=50K
6             Jamaica   <=50K
7       United-States    >50K
8       United-States    >50K
9       United-States    >50K
10      United-States    >50K
11              India    >50K
12      United-States   <=50K
13      United-States   <=50K
14                NaN    >50K
15             Mexico   <=50K
16      United-States   <=50K
17      United-States   <=50K
18      United-States   <=50K
19      United-States    >50K
20      United-States    >50K
21      United-States   <=50K
22      United-States   <=50K
23      United-States   <=50K
24      United-States   <=50K
25      United-States    >50K
26      United-States   <=50K
27              South    >50K
28      United-States   <=50K
29      United-States   <=50K
...               ...     ...
32531   United-States   <=50K
32532   United-States    >50K
32533           Japan    >50K
32534   United-States   <=50K
32535   United-States   <=50K
32536   United-States    >50K
32537   United-States   <=50K
32538   United-States    >50K
32539   United-States    >50K
32540   United-States   <=50K
32541   United-States   <=50K
32542   United-States   <=50K
32543   United-States   <=50K
32544   United-States   <=50K
32545   United-States    >50K
32546   United-States   <=50K
32547          Mexico   <=50K
32548   United-States   <=50K
32549   United-States   <=50K
32550   United-States   <=50K
32551   United-States   <=50K
32552   United-States   <=50K
32553          Taiwan   <=50K
32554   United-States    >50K
32555   United-States   <=50K
32556   United-States   <=50K
32557   United-States    >50K
32558   United-States   <=50K
32559   United-States   <=50K
32560   United-States    >50K

[32561 rows x 9 columns]

In [26]:
train.describe(include=['O', 'category'])

,workclass,education,marital.status,occupation,relationship,race,sex,native.country,target
count,30725,32561,32561,30718,32561,32561,32561,31978,32561
unique,8,16,7,14,6,5,2,41,2
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,22696,10501,14976,4140,13193,27816,21790,29170,24720

In [27]:
UniqueVariable = train.select_dtypes(include=['O'])
UniqueVariable.apply(pd.Series.nunique)

workclass          8
education         16
marital.status     7
occupation        14
relationship       6
race               5
sex                2
native.country    41
target             2
dtype: int64

In [28]:
#Which column has mssing value 
train.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
target               0
dtype: int64

In [29]:
# All missing values are in Categorical variable.

In [30]:
#WorkClass
train.workclass.value_counts(sort=True)

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [31]:
train.workclass.fillna('Private',inplace =True)

In [32]:
#Occupation
train.occupation.value_counts(sort=True)   
#or
# train['occupation'].value_counts(sort=True)

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [33]:
train.occupation.fillna('Prof-specialty',inplace=True)

In [34]:
#Native.Country
train['native.country'].value_counts(sort=True)

 United-States                 29170
 Mexico                          643
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native.country, dtype: int64

In [35]:
train['native.country'].fillna('United-States',inplace =True)

In [36]:
# Check again missing value
train.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
target            0
dtype: int64

In [37]:
#Now will check the data balacing,
#It is very important othewise resuelt will be not accurate 
train.target.value_counts()

 <=50K    24720
 >50K      7841
Name: target, dtype: int64

In [38]:
train.shape[0]

32561

In [39]:
train.target.value_counts()/train.shape[0]

 <=50K    0.75919
 >50K     0.24081
Name: target, dtype: float64

In [40]:
# 75% baccouracy if we will take <= 50K class

In [41]:
#Cross Tab to understad the traget variable disrtibution along with Education variable
pd.crosstab(train.education, train.target, margins =True)

target          <=50K   >50K    All
education
 10th             871     62    933
 11th            1115     60   1175
 12th             400     33    433
 1st-4th          162      6    168
 5th-6th          317     16    333
 7th-8th          606     40    646
 9th              487     27    514
 Assoc-acdm       802    265   1067
 Assoc-voc       1021    361   1382
 Bachelors       3134   2221   5355
 Doctorate        107    306    413
 HS-grad         8826   1675  10501
 Masters          764    959   1723
 Preschool         51      0     51
 Prof-school      153    423    576
 Some-college    5904   1387   7291
All             24720   7841  32561

In [42]:
pd.crosstab(train.education, train.target, margins =True)/train.shape[0]

target            <=50K      >50K       All
education
 10th          0.026750  0.001904  0.028654
 11th          0.034243  0.001843  0.036086
 12th          0.012285  0.001013  0.013298
 1st-4th       0.004975  0.000184  0.005160
 5th-6th       0.009736  0.000491  0.010227
 7th-8th       0.018611  0.001228  0.019840
 9th           0.014957  0.000829  0.015786
 Assoc-acdm    0.024631  0.008139  0.032769
 Assoc-voc     0.031357  0.011087  0.042443
 Bachelors     0.096250  0.068210  0.164461
 Doctorate     0.003286  0.009398  0.012684
 HS-grad       0.271060  0.051442  0.322502
 Masters       0.023464  0.029452  0.052916
 Preschool     0.001566  0.000000  0.001566
 Prof-school   0.004699  0.012991  0.017690
 Some-college  0.181321  0.042597  0.223918
All            0.759190  0.240810  1.000000

In [43]:
# This crosstable is saying, 27% 10th grade people have less than 50K income, which we can only expected from students..... 
#same with other cataegroes..............................

In [44]:
# we have to convert all charatcter varaible in to numeric categorical variable i.e 1,2,3..... 
# Because scikit learn don't accpet charatcter format.
# scikit learn onlyu accpet only numeric format.
from sklearn import preprocessing

for x in train.columns:
    if train[x].dtype == 'object':
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(train[x].values))
        train[x] = lbl.transform(list(train[x].values))

In [45]:
train.head(10)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,39,6,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,5,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,3,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,3,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,3,338409,9,13,2,9,5,2,0,0,0,40,4,0
5,37,3,284582,12,14,2,3,5,4,0,0,0,40,38,0
6,49,3,160187,6,5,3,7,1,2,0,0,0,16,22,0
7,52,5,209642,11,9,2,3,0,4,1,0,0,45,38,1
8,31,3,45781,12,14,4,9,1,4,0,14084,0,50,38,1
9,42,3,159449,9,13,2,3,0,4,1,5178,0,40,38,1

# Random Forest Model

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [47]:
y = train['target']

In [48]:
del train['target']

In [49]:
X= train

In [50]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1,stratify=y)

# Train the Random Forest Classifier

In [51]:
RDCLF= RandomForestClassifier(n_estimators=500,max_depth=6)

In [52]:
RDCLF

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=6, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [53]:
RDCLF.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=6, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [55]:
RDCLF.predict(X_test)

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [57]:
#Prediction and model accuracy 

prediction = RDCLF.predict(X_test)
print(prediction)

[0 1 0 ... 0 0 0]

In [59]:
acc = accuracy_score(np.array(y_test),prediction)
print(acc)

0.8521854846964889

In [62]:
print("The Random Forest Model accuracy is {}".format(acc))

The Random Forest Model accuracy is 0.8521854846964889